
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Kladionica</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Listići</a>
        <a class="nav-item nav-link" href="#">Transakcije</a>
        <a class="nav-item nav-link" href="#">Korisnik</a>
        <a class="nav-item nav-link" href="#">Kontakt</a>
    </div>
</nav>