
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="@Url.Action("Index","Home")">Kladionica</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="@Url.Action("TicketList","Home")">Listići</a>
        <a class="nav-item nav-link" href="#">Transakcije</a>
        <a class="nav-item nav-link" href="#">Kontakt</a>
    </div>
</nav>