
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="@Url.Action("Index","Home")">Kladionica</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="@Url.Action("TicketList","Tickets")">Listići</a>
        <a class="nav-item nav-link" href="@Url.Action("TransactionList","Transactions")">Transakcije</a>
        <a class="nav-item nav-link" href="@Url.Action("Contact","Contact")">Kontakt</a>
    </div>
</nav>