<table id="tblTicket" class="table table-hover">
    <thead>
        <tr>
            <th colspan="4">Listić</th>
        </tr>
    </thead>

    <tbody>

    </tbody>

    <tfoot>
        <tr>
            <td>
                <p>Ulog:</p>
            </td>
            <td>
                <input type="number" id="betAmount" step="0.01" min="0" placeholder="KN"/>
            </td>
            <td>
                <p>Kvota:</p>
                
            </td>
            <td>
                <div id="total-qouta"></div>
            </td>
        </tr>

        <tr>
            <td>
                <p>Dobitak:</p>
            </td>
            <td>
                <div id="winAmount"></div>
            </td>
            <td colspan="2">
                <input class="btn btn-success" type="button" id="btnSubmit" value="Uplati" />
            </td>
        </tr>
    </tfoot>

</table>