@model IEnumerable<Kladionica.Models.Pair>

<table id="tblTicket" class="table table-hover">
    <thead>
        <tr>
            
        </tr>
    </thead>

    <tbody>

    </tbody>


    <tfoot>
        <tr>
            <td>
                <p>Ukupna kvota:</p>
            </td> 
            <td>

            </td>
        </tr>

        <tr>
            <td>
                <p>Ulog:</p>
            </td>
            <td>
                <input type="number" id="betAmount" step="0.01" min="0" />
            </td>
        </tr>

        <tr>
            <td>
                <p>Dobitak:</p>
            </td>
            <td>

            </td>
            <td>
                <input type="button" id="btnSubmit" value="Uplati"/>
            </td>
        </tr>
    </tfoot>

</table>