@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>

<address>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin placerat augue ut sodales. Nullam sodales lacus eu lacus congue tincidunt. Vivamus ultricies nisl a magna porta pulvinar. 
    Sed tempor dolor vel pellentesque sollicitudin. Proin convallis ante nec tortor imperdiet, at accumsan orci maximus. 
    Pellentesque a sem pharetra, condimentum nisi at, imperdiet dui. Etiam elementum convallis lorem, volutpat tincidunt dolor suscipit vitae. 
    Donec justo ante, mattis vitae auctor vitae, laoreet eu urna. Sed lorem enim, finibus ut volutpat a, molestie sit amet massa. Integer eget consectetur sapien, in consectetur ex. 
    Etiam convallis mauris in nisl gravida, ut malesuada tortor tempor.
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>