@model IEnumerable<Kladionica.Models.Pair>
@{
    ViewBag.Title = "Kladionica";
}


<div class="row">
    <div class="col-md-2">
        @{
            Html.RenderAction("SportSelect");
        }
    </div>

    <div class="col-md-6" id="pairs-table">
        @{
            Html.RenderAction("PairsList", new { sportName = "" });
        }
    </div>
    <div id="dialog" title="Ticket dialog">
        
    </div>
    <div class="col-md-4" id="ticket">
        @{
            Html.RenderAction("Ticket");
        }
    </div>

</div>

@section Scripts{
    <script type="text/javascript" src="/Scripts/Index.js"></script>
}

