@model IEnumerable<Kladionica.Models.Category>
@{
    ViewBag.Title = "Kladionica";
}


<div class="row">
    <div class="col-md-2">
        <div id="sports-list" class="btn-group-vertical btn-group-toggle" data-toggle="buttons">

            @foreach (var cat in Model)
            {
                <label class="btn btn-outline-primary">
                    <input type="radio"> @cat.Name
                </label>
            }
        </div>
        </div>

        <div class="col-md-7" id="pairs-table">
            @{
                Html.RenderAction("PairsList", new { sportName = ""});
            }
        </div>

        <div class="col-md-3">
            <h2>Ticket</h2>
        </div>

    </div>
