@{
    ViewBag.Title = "Kladionica";
}


<div class="row">
    <div class="col-md-2">
        @{
            Html.RenderAction("SportSelect");
        }
    </div>

    <div class="col-md-6" id="pairs-table">
        @{
            Html.RenderAction("PairsList", new { sportName = ""});
        }
    </div>

    <div class="col-md-4" id="ticket">
        @{
            Html.RenderAction("Ticket");
        }
    </div>

</div>

@section Scripts{
    <script type="text/javascript">
        var totalQuota = 1.0;
        var amount = 0;

        $(document).ready(function () {
            var url = '@Url.Action("PairsList", "Home")';
            //Update pairs table on sport category select
            $('input[name=sport-select]').change(function () {
                var keyWord = $(this).val();
                $('#pairs-table').load(url, { sportName: keyWord });
            });

            //Update total winnings on bet amount field change
            $('input[id=betAmount]').change(function () {
                amount = $(this).val();
                amount = (amount * totalQuota).toFixed(2);
                $("#winAmount").html("<strong> " + amount.toString() + " KN" + "</strong>")
            });
        });

        //Remove an item from the ticket table
        function Remove(button) {
            //Determine the reference of the Row using the Button.
            var row = $(button).closest("tr");
            var name = $("td", row).eq(1).html();
            var id = $("td", row).eq(0).html().trim();
            var type = $("td", row).eq(2).html().split(" -")[0];

            if (confirm("Da li želite ukloniti: " + name)) {
                //Get the reference of the Table.
                var table = $("#tblTicket")[0];

                //Delete the Table row using it's Index.
                table.deleteRow(row[0].rowIndex);
                var quota = $("td", row).eq(2).html().split("- ")[1];
                
                UpdateTotalQuota(parseFloat(quota.replace(',', '.')) * -1.0);

                //Untoggle pair type button from pairs table
                $('#pairs-table').find("#" + id).find("[value=" + type + "]").button("toggle");
            }
        };

        //Insert current total qouta
        function UpdateTotalQuota(quota) {
            if (quota < 0) {
                totalQuota = (totalQuota / (-1.0 * quota)).toFixed(2);
            }
            else if (quota > 0) {
                totalQuota = (totalQuota * quota).toFixed(2);
            }
            $("#total-qouta").html("<strong> " + totalQuota.toString() + "</strong>")
        };


        $("body").on("click", "#btnAdd", function () {
            //Reference the entire row of the clicked button
            var $btnRow = $(this).closest("tr");

            //Get bet type and quota from the button
            var betType = $(this).val();
            var quota = $(this).attr('title');
            UpdateTotalQuota(parseFloat(quota.replace(',', '.')));

            //Get Pair ID and Full Name string from the button table row
            var pairId = $btnRow.find("td:nth-child(1)");
            var pairName = $btnRow.find("td:nth-child(2)");

            //Get the reference of the Table's TBODY element
            var tBody = $("#tblTicket > TBODY")[0];

            //Add Row
            var row = tBody.insertRow(-1);

            //Add Pair ID cell
            var cell = $(row.insertCell(-1));
            cell.html(pairId.text());

            //Add Pair name cell
            cell = $(row.insertCell(-1));
            cell.html(pairName.text());

            //Add Type and Quota cell
            cell = $(row.insertCell(-1));
            cell.html(betType + " - " + quota);

            //Add remove button
            cell = $(row.insertCell(-1));
            var btnRemove = $("<input />");
            btnRemove.attr("type", "button");
            btnRemove.attr("onclick", "Remove(this);");
            btnRemove.attr("class", "btn btn-sm btn-danger");
            btnRemove.val("X");
            cell.append(btnRemove);

        });


        //Send ticket data
         $("body").on("click", "#btnSubmit", function () {
            var ticketData = {
                "BetAmount": +$('input[id=betAmount]').val(),
                //Placeholder for authentication
                "UserID" : 1
             };
            
            var TicketPairs = new Array();
            $("#tblTicket TBODY TR").each(function () {
                var row = $(this);
                TicketPairs.push({
                    "PairId": row.find("TD").eq(0).html().trim(),
                    "Type": row.find("TD").eq(2).html().split(" -")[0]
                });
            });

            ticketData.TicketPairs = TicketPairs;

            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: "@Url.Action("InsertTicket", "Home")",
                data: JSON.stringify(ticketData),
                contentType: "application/json; charset=utf-8",
                dataType: "text/json",
                error: function (response) {
                    var jsonResponse = JSON.parse(response.responseText);
                    alert(jsonResponse.message);

                    if (jsonResponse.success) {
                        debugger;
                        location.reload();
                    }
                }
            });

        });

    </script>
}

